body {
  background-image: url(background.jpg);
}

.container {
  margin: 3% 15%;
  align-content: center;
  background-color: rgba(00,0,0,0.50);
  border-radius: 20px;
}

.container1 {
  margin: auto;
  align-content: center;
  padding: 5% 0%;
}

.logo {
  display: block;
  margin: 0px auto;
  text-align: center;
}

.logo-text {
  font-family: Arial;
  font-weight: bold;
  font-size: 40px;
  color: #00dd00;
  text-align: center;
  margin: auto;
  padding: 35px 10px 5px;
}

.pulsante {
  display: block;
  background-color: #00dd00;
  display: block;
  padding: 10px;
  margin: 1% 8%;
  text-align: center;
}

button {
  font-size: 15px;
  padding: 2px 15px;
  margin: 2px;
}

.row {
  margin:2% 8%;
  }

.subject {
  font-family: Arial;
  font-weight: bold;
  color: white;
  font-size: 25px;
}

p {
  font-family: Arial;
  color: white;
  font-size: 15px;
  margin: 5px 0px;
}

.line1 {
  background: #f5b453;
  border: 0;
  height: 25px;
  width: 40%;
  border-radius: 3px;
  margin: 0px;
}

.line2 {
  background: #00dd00;
  border: 0;
  height: 25px;
  width: 60%;
  border-radius: 3px;
  margin: 0px;
}

.line3 {
  background: #be4141;
  border: 0;
  height: 25px;
  width: 20%;
  border-radius: 3px;
  margin: 0px;
}
